{% extends 'base/base.html' %}

{% block contenido %}
<form method="post">
  {% csrf_token %}
  <h3>¿Desea eliminar la computadora {{ object.idhardware }}, serie: {{ object.serie }}?</h3>
  <button class= "btn btn-danger" type="submit" name="button">Eliminar</button>
  <a class= "btn btn-primary" href="{% url 'padron_nets:lista_nets' %}">Cancelar</a>
</form>

{% endblock %}
