{% extends 'base/base.html' %}
{% block encabezado %}
<h4>Sistema DHC-CI</h4>
{% endblock %}
{% block contenido %}

{% load static %}
<div class="row">
  <div class="col-sm-3">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="{% static 'img/estudiantes.jpg' %}" alt="Card image" style="height:300px">
        <div class="card-body">
          <h4 class="card-title">Carga de alumnxs</h4>
          <p class="card-text">Aquí podrá dar de alta alumnxs</p>
          <a href="{% url 'estudiantes:nuevo_estudiante' %}" class="btn btn-primary stretched-link">Ingresar</a>
        </div>
    </div>
  </div>


    <div class="col-sm-3">
      <div class="card" style="width:400px">
          <img class="card-img-top" src="{% static 'img/estudiantes.jpg' %}" alt="Card image" style="height:300px">
          <div class="card-body">
            <h4 class="card-title">Listado de alumnos</h4>
            <p class="card-text">Aquí podrá ver los alumnxs cargados, editarlos y borrarlos</p>
            <a href="{% url 'estudiantes:lista_estudiante' %}" class="btn btn-primary stretched-link">Ingresar</a>
          </div>
      </div>
    </div>


  <div class="col-sm-3">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="{% static 'img/netbooks.png' %}" alt="Card image" style="height:300px">
        <div class="card-body">
          <h4 class="card-title">Carga de equipos</h4>
          <p class="card-text">Aquí podrá dar de alta equipos</p>
          <a href="{% url 'padron_nets:nueva_net' %}" class="btn btn-primary stretched-link">Ingresar</a>
        </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="{% static 'img/netbooks.png' %}" alt="Card image" style="height:300px">
        <div class="card-body">
          <h4 class="card-title">Listado de equipos</h4>
          <p class="card-text">Aquí podrá ver el listado de computadoras registradas</p>
          <a href="{% url 'padron_nets:lista_nets' %}" class="btn btn-primary stretched-link">Ingresar</a>
        </div>
    </div>
  </div>
</div>





{% endblock %}
