{%  extends 'base/base.html' %}

{% block contenido %}

<table class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Apellido</td>
      <td>Nombre</td>
      <td>Serie</td>
      <td>Hardware ID</td>
      <td>Observaciones</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de nets para mostrar-->
    {% if object_list %}
      {% for netbook in object_list %}
        <tr>
          <td>{{netbook.id}}</td>
          <td>{{netbook.estudiante.apellido}}</td>
          <td>{{netbook.estudiante.nombre}}</td>
          <td>{{netbook.serie}}</td>
          <td>{{netbook.idhardware}}</td>
          <td>{{netbook.observacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="{% url 'padron_nets:editar_net' netbook.id %}">Editar</a>
               <a class="dropdown-item" href="{% url 'padron_nets:eliminar_net' netbook.id %}">Eliminar</a>
             </div>
          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay computadoras registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'padron_nets:nueva_net' %}">Agregar computadora</a>
    {% endif %}
  </tbody>
</table>

{% endblock %}
