{% extends 'base/base.html' %}

{% block contenido %}
<form method="post">
  {% csrf_token %}
  <h3>¿Desea eliminar el estudiante {{ object.apellido }}, {{ object.nombre }}</h3>
  <button class= "btn btn-danger" type="submit" name="button">Eliminar</button>
  <a class= "btn btn-primary" href="{% url 'estudiantes:lista_estudiante' %}">Cancelar</a>
</form>

{% endblock %}
