{%  extends 'base/base.html' %}

{% block contenido %}

<table class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>apellido</td>
      <td>Nombre</td>
      <td>Curso</td>
      <td>DNI</td>
      <td>Correo Electrónico</td>
      <td>Teléfono</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de estudiantes para mostrar-->
    {% if object_list %}
      {% for estudiante in object_list %}
        <tr>
          <td>{{estudiante.id}}</td>
          <td>{{estudiante.apellido}}</td>
          <td>{{estudiante.nombre}}</td>
          <td>{{estudiante.curso}}</td>
          <td>{{estudiante.dni}}</td>
          <td>{{estudiante.email}}</td>
          <td>{{estudiante.fono}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="{% url 'estudiantes:editar_estudiante' estudiante.id %}">Editar</a>
               <a class="dropdown-item" href="{% url 'estudiantes:eliminar_estudiante' estudiante.id %}">Eliminar</a>
             </div>
          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay estudiantes registrados en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'estudiantes:nuevo_estudiante' %}">Agregar estudiante</a>
    {% endif %}
  </tbody>
</table>

{% endblock %}
