{% extends 'base/base.html'  %}

{% block contenido %}
<h3>Carga de estudiantes</h3>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit" class="btn btn-outline-success" name="button">Guardar estudiante</button>
</form>
{% endblock %}
