<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Como integrar Django y Bootstrap 4 </title>

      {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}
  </head>
  <body>

<h1>hola</h1>

<!-- JS y JQuery para BS -->
    {# JS y jQuery Bootstrap #}
  	 {% bootstrap_javascript jquery='full' %}

  </body>
  </html>
