{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title> {% block title %} Sistema DHC-CI {% endblock %}</title>

    {# Cargo Bootstrap #}
    {% load bootstrap4 %}
    {# CSS Bootstrap #}
    {% bootstrap_css %}
  </head>
  <body>
    <div class="container">

      {% block encabezado %}
      <h4>Sistema DHC-CI</h4>
      <a href="{% url 'padron_nets:index' %}" class="btn btn-outline-primary" role="button">Ir al menú inicial</a>
      {% endblock %}

      {% block contenido %}
      <h5>Este es el contenido del archivo base</h5>
      {% endblock %}


      {% block pie %}
      <footer>
        <p>Sistema para el registro interno de netbooks DHC-CI</p>
      </footer>
      {% endblock %}

    </div>
      <!-- JS y JQuery para BS -->
      {# JS y jQuery Bootstrap #}
      {% bootstrap_javascript jquery='full' %}
  </body>
</html>
